#form-filtros {
    max-width: 400vw;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    margin: 5px ;
}

@media (max-width: 1250px) {
    #form-filtros {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: none;
        padding: 30px;
    }

    .titulo {
        display: none;
    }
}