#form-filtros {
    max-width: 400vw;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(8, 8, 8);
    color: rgb(8, 8, 8);
    margin: 5px ;
    background-color: white;
}

#form-filtros h1{
    color: black;
}

@media (max-width: 1250px) {
    #form-filtros {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: none;
        padding: 30px;
    }

    .titulo {
        display: none;
    }
}