:root {
    --default-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

body > .flex-content {
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    padding: var(--default-spacing);
    gap: var(--default-spacing);
}

.flex-col {
    display: flex;
    flex-flow: column wrap;
    padding: var(--default-spacing);
    gap: var(--default-spacing);
}

.no-wrap { flex-wrap: nowrap; }

.flex-row.no-space,
.flex-col.no-space
{ padding: 0px; gap: 0; }

.space-0, .no-space { padding:  0px; gap:  0px; }
.space-5  { padding:  5px; gap:  5px; }
.space-10 { padding: 10px; gap: 10px; }
.space-15 { padding: 15px; gap: 15px; }
.space-20 { padding: 20px; gap: 20px; }
.space-30 { padding: 30px; gap: 30px; }
.space-40 { padding: 40px; gap: 40px; }

.vspace-0, .no-space { padding-top: 0px; padding-bottom: 0px; row-gap: 0px; }
.vspace-5  { padding-top:  5px; padding-bottom:  5px; row-gap:  5px; }
.vspace-10 { padding-top: 10px; padding-bottom: 10px; row-gap: 10px; }
.vspace-15 { padding-top: 15px; padding-bottom: 15px; row-gap: 15px; }
.vspace-20 { padding-top: 20px; padding-bottom: 20px; row-gap: 20px; }
.vspace-30 { padding-top: 30px; padding-bottom: 30px; row-gap: 30px; }
.vspace-40 { padding-top: 40px; padding-bottom: 40px; row-gap: 40px; }

.hspace-0, .no-space { padding-left: 0px; padding-right: 0px; column-gap: 0px; }
.hspace-5  { padding-left:  5px; padding-right:  5px; column-gap:  5px; }
.hspace-10 { padding-left: 10px; padding-right: 10px; column-gap: 10px; }
.hspace-15 { padding-left: 15px; padding-right: 15px; column-gap: 15px; }
.hspace-20 { padding-left: 20px; padding-right: 20px; column-gap: 20px; }
.hspace-30 { padding-left: 30px; padding-right: 30px; column-gap: 30px; }
.hspace-40 { padding-left: 40px; padding-right: 40px; column-gap: 40px; }

.gap-0, .no-gap  { gap: 0px; }
.gap-5  { gap:  5px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px; }
.gap-30 { gap: 30px; }
.gap-40 { gap: 40px; }

.padding-0, .no-padding { padding: 0px; }
.padding-5  { padding:  5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }

.no-grow, .content-grow > *.no-grow { flex-grow: unset; }
.grow    { flex-grow: 1; }
.grow-1  { flex-grow: 1; }
.grow-2  { flex-grow: 2; }
.grow-3  { flex-grow: 3; }
.grow-4  { flex-grow: 4; }
.grow-5  { flex-grow: 5; }
.grow-6  { flex-grow: 6; }
.grow-7  { flex-grow: 7; }
.grow-8  { flex-grow: 8; }
.grow-9  { flex-grow: 9; }
.grow-10 { flex-grow: 10; }
.grow-11 { flex-grow: 11; }
.grow-12 { flex-grow: 12; }
.content-grow > * { flex-grow: 1; }

.flex-row .stretch,
.flex-row.content-stretch > *
{ height: auto; align-self: stretch; }

.flex-col .stretch,
.flex-col.content-stretch > *
{ width: auto; align-self: stretch; }

.flex-row > .grow { width: auto; }
.flex-col > .grow { height: auto; }
.flex-row.content-grow > * { width: auto; }
.flex-col.content-grow > * { height: auto; }

.center { justify-self: center; align-self: center; text-align: center; }
.content-center { justify-content: center; align-items: center; align-content: center; text-align: center; }
.flex-row.content-hcenter { justify-content: center; text-align: center; }
.flex-col.content-hcenter { align-items: center; text-align: center; }
.flex-row.content-vcenter { align-items: center; vertical-align: middle; }
.flex-col.content-vcenter { justify-content: center;  vertical-align: middle; }

.text-center { text-align: center; }
.text-center input { text-align: center; }

.flex-row.content-top    { align-items: flex-start; }
.flex-row.content-bottom { align-items: flex-end; }
.flex-row.content-left   { justify-content: flex-start; }
.flex-row.content-right  { justify-content: flex-end; }

.flex-col.content-top    { justify-content: flex-start; }
.flex-col.content-bottom { justify-content: flex-end; }
.flex-col.content-left   { align-items: flex-start; }
.flex-col.content-right  { align-items: flex-end; }

.flex-row.content-stretch { justify-content: stretch; }
.flex-col.content-stretch { align-items: stretch; }
.flex-row.content-stretch > * { height: auto; }
.flex-col.content-stretch > * { width: auto; }

.flex-row.content-space-between { justify-content: space-between; }
.flex-row.content-space-around  { justify-content: space-around; }
.flex-row.content-space-evenly  { justify-content: space-evenly; }
.flex-col.content-space-between { align-items: space-between; }
.flex-col.content-space-around  { align-items: space-around; }
.flex-col.content-space-evenly  { align-items: space-evenly; }

.flex-limits, 
.flex-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.margin-0, .no-margin, .content-margin-0 > *, .content-no-margin > * { margin: 0; }
.margin-5,  .content-margin-5  > * { margin:  5px; }
.margin-10, .content-margin-10 > * { margin: 10px; }
.margin-15, .content-margin-15 > * { margin: 15px; }
.margin-20, .content-margin-20 > * { margin: 20px; }
.margin-30, .content-margin-30 > * { margin: 30px; }
.margin-40, .content-margin-40 > * { margin: 40px; }
.margin-auto { margin: auto; }

.padding-0, .no-padding, .content-padding-0 > *, .content-no-padding > * { padding: 0; }
.padding-5,  .content-padding-5  > * { padding:  5px; }
.padding-10, .content-padding-10 > * { padding: 10px; }
.padding-15, .content-padding-15 > * { padding: 15px; }
.padding-20, .content-padding-20 > * { padding: 20px; }
.padding-30, .content-padding-30 > * { padding: 30px; }
.padding-40, .content-padding-40 > * { padding: 40px; }

.fit-width { max-width: max-content; }

.flex-scroll {
    overflow-x: auto;
}

.flex-scroll-content {
    display: flex;
    flex-direction: row;
    min-width: max-content;
}

/* width */
.flex-scroll::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 900px)
{
    .flex-row.content-center-on-mobile > * { justify-content: center; }
    .flex-col.content-center-on-mobile > * { align-items: center; }
    .content-grow-on-mobile > * { flex-grow: 1; }
    .center-on-mobile { margin-left: auto; margin-right: auto; }
    .grow-on-mobile { flex-grow: 1; }
}