#page-home {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    width: 100%;
}

#page-home #section-imoveis {
    flex-grow: 1;
    width: 80%;
}

#page-home #area-filtro {
    width: 20%;
    height: 100vh;

}

#form-pesquisa {
    display: flex;
    position: static;
    gap: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar li {
    float: left;

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;

}

.active {
    background-color: #8d6546;
}

.navbar a:hover {
    background-color: #8d6546;
}

.conteudo-dinamico {
    flex-direction: column;
    display: flex;
    gap: 35px;
    padding: 35px;
}

.box_imovel {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.24);
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 1px 25px black;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 1px;
}

.box_imovel img {
    border-radius: 10px 0 0 10px;
}

#separacao {
    display: flex;
    gap: 10px;
    flex: 1 1 200px;
}

#separacao img {
    width: 400px;
}

#escrita {
    flex-direction: row;
    padding: 25px;
    align-items: center;
    flex: 2 1 300px;
}

.box_imovel p {
    flex-grow: 1;
}

.box_imovel button {
    cursor: pointer;

}

.box_imovel {
    color: #fff;
}

.preco {
    font-size: 200%;
}

.bairro {
    font-size: 125%;
}

.estado {
    font-size: 90%;
}

.filtro button {
    background-color: #8d6546;
    color: #cbd0f7;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    display: none;
}

.filtro button:hover {
    opacity: 50%;
}




@media (max-width: 1250px) {

    .filtro button {      
        display: flex;
        position: static;
        width: 90vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px 0 20px 0;
        font-size: 20px;
        }

    .box_imovel {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        color: white;
        background: rgb(0 0 0 / 20%);
        box-shadow: 0 0 12px 2px rgba(0 0 0 / 90%);
        border: 1px solid rgba(255, 255, 255, 0.164);
        border-radius: 15px;
        flex-basis: 300px;
        width: 100%;
    }

    .box_imovel img {
        width: 400px;
        height: 250px;
        padding: 0;
        margin: 0;
        border-radius: 15px 15px 0 0;
    }

    #section-imoveis {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        width: 100%;
    }

    #separacao {
        display: grid;
        gap: 10px;
        flex: 1 1 200px;
    }

    #page-home #section-imoveis {
        flex-grow: 1;
        width: 100%;
    }

    #page-home #area-filtro {
        display: none;
    }

    #form-pesquisa {
        width: 300vw;
    }
}

@media (max-width: 700px) {
    .box_imovel {
        width: 100%;
        gap: 30px;
        color: white;
        background: rgb(0 0 0 / 20%);
        box-shadow: 0 0 12px 2px rgba(0 0 0 / 90%);
        border: 1px solid rgba(255, 255, 255, 0.164);
        border-radius: 0;
        flex-basis: 100%;

    }

    .box_imovel img {
        width: 100%;
        height: 250px;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }

    #separacao {
        padding: 1px;
    }

    #separacao img {
        width: 100%;
    }
}