#page-home {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


#form-filtros {
    max-width: 400vw;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar li {
    float: left;

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;

}

.active {
    background-color: #8d6546;
}

.navbar a:hover {
    background-color: #8d6546;
}

.conteudo-dinamico {
    flex-direction: column;
    display: flex;
    gap: 35px;
    padding: 35px;
}

.box_imovel {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.24);
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 1px 25px black;
    margin-bottom: 20px;
    border-radius: 10px;
}

.box_imovel img {
    border-radius: 10px 0 0 10px;
}

#separacao {
    display: flex;
    gap: 10px;
    flex: 1 1 200px;
}

#separacao img {
    width: 400px;
}

#escrita {
    flex-direction: row;
    padding: 25px;
    align-items: center;
    flex: 2 1 300px;
}

.box_imovel p {
    flex-grow: 1;
}

.box_imovel button {
    cursor: pointer;

}

.box_imovel {
    color: #fff;
}

.preco {
    font-size: 200%;
}

.bairro {
    font-size: 125%;
}

.estado {
    font-size: 90%;
}

#section-imoveis {
    flex-grow: 1;
}

#form-pesquisa {
    display: flex;
    gap: 10px;
}


@media (max-width: 980px) {}