
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar li {
    float: left;
    
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;

}
.active {
    background-color: #8d6546;
}



.navbar a:hover{
    background-color: #8d6546;
}

.conteudo-dinamico{
    flex-direction: column;
    display: flex;
    gap: 35px;
    padding: 35px;
}

.box_imovel{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.24);
    align-items: center;
    gap: 30px;
    padding: 25px;
    box-shadow: 1px 1px 25px black;
}

.box_imovel img{
    width: 400px;
    height: 350px;
    object-fit: contain;
}

.box_imovel button{
    cursor: pointer;
    
}