@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {

    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #1b1f27;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

::placeholder {
    color: rgba(255, 255, 255, 0.603);
}

/* Style da nav bar */
.navbar{
    width: 100%;
    position: static;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar li {
    float: left;
    align-items: center;
}

.navbar li img {
    width: 22px;
    color: white;

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;

}

.active {
    background-color: #8d6546;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #8d6546;
}

.navbar #log a {
    display: flex;
}

.navbar #log:hover {
    opacity: 50%;
}

/* Style da nav bar */

/* Style do Footer */
footer {
    padding: 10px 0 10px 0;
    text-align: center;
    background: #181920;
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px #4d576e;
    width: 100%;
}

/* Style do Footer */



/* Style do login */
.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    padding: 35px;
    box-shadow: 2px 2px 20px #4d576e;
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.login img {
    width: 155px;
    height: auto;
}

.log-img {
    width: 1px;
    filter: invert(100);
    margin: 0 5px 0 0;
}

input {
    margin-top: 10px;
    background-color: #252a34;
    padding-left: 10px;
    color: #cbd0f7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

.form-login [type='submit'] {
    display: block;
    background-color: #5568fe;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.alt-log [type='submit'] {
    display: block;
    background-color: #5568fe;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.form-venda [type='submit'] {
    background-color: #5568fe;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.form-finalizar [type='submit'] {
    background-color: #5568fe;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

p {
    color: #cbd0f7;
}

a {
    color: #5568fe;
    text-decoration: none;
    margin-left: 10px;
}

/* Style do login */



.conteudo-dinamico {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    flex-grow: 1;
}


/* Style da area de pesquisa */
.form-search {
    display: flex;
    border: none;
    width: 85vw;
    height: 85vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}

.overlay-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 45%);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hidden {
    display: none;
}

.form-search button {
    display: block;
    background-color: #5568fe;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

form button {
    margin-top: 10px;
    background-color: #8d6546;
    padding-left: 10px;
    color: #cbd0f7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding: 5px 20px;
    color: white;
}

form button:hover {
    opacity: 50%;
}


.btn-search {
    border: none;
    outline: none;
    background-color: #000;
    padding: 14px;
}

.btn-search:hover {
    background-color: #8d6546;
    cursor: pointer;
}

.btn-hidden {
    right: 0;
    top: 0;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 18px 22px;
    background: transparent;
    position: absolute;
}

.btn-hidden img {
    width: 30px;
}

.pesquisa {
    width: 100%;
}

h1 {
    color: white;
}

.error {
    color: white;
    border: 1px solid rgb(218, 35, 35);
    background-color: rgb(218, 35, 35);
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 420px;
    top: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 450px) {
    .log-text {
        display: none;
    }

    footer{
        font-size: 12px;
    }
}