.log_novo {
    text-align: center;
    position: absolute;
    background-color: #181920;
    border-radius: 10px;
    max-width: 460px;
    width: 100%;
    height: 350px;
    box-shadow: 0px 0px 50px 2px #4d576e;
}

.alt-log input[type='submit'] {
    margin-left: 170px;
    margin-top: 30px;
}

.conteudo-dinamico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    color: white;
}


.alterar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.alterar button {
    cursor: pointer;
    height: 100%;

}

.alterar button.delete {
    height: 50px;
    width: 70px;

}

button:hover {
    opacity: 50%;
}

.log_novo #alt:hover {
    opacity: 50%;
}






/*<tr>
        <td>{{ $imovel->quarto }}</td>
        <td>{{ $imovel->bairro }}</td>
        <td>{{ $imovel->preco }}</td>
     </tr> */