.log_novo {
    position: absolute;
    background-color: #181920;
    border-radius: 10px;
    max-width: 460px;
    width: 100%;
    height: 350px;
    box-shadow: 0px 0px 50px 2px #4d576e;
}

#form-conta {
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#alt {
    font-size: 25px;
    padding: 0 30px 0 30px;
    width: 200px; 
}

.conteudo-dinamico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

h4 {
    color: white;
}

.alterar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alterar button {
    cursor: pointer;
    height: 100%;
}

.alterar button.delete {
    height: 50px;
    width: 70px;
}

button:hover {
    opacity: 50%;
}

.log_novo #alt:hover {
    opacity: 50%;
}

.box-imovel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: white;
    background: rgb(0 0 0 / 20%);
    box-shadow: 0 0 12px 2px rgba(0 0 0 / 90%);
    border: 1px solid rgba(255, 255, 255, 0.164);
    border-radius: 15px;
}

.box-imovel .info-imovel {
    padding: 30px;
    max-width: 300px;
}

.box-imovel img {
    width: 400px;
    height: 250px;
    padding: 0;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

#section-imoveis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



#section-imoveis h2,h3{
    color: white;
}

.box-imovel {
    flex-basis: 300px;
}

.box-imovel:hover {
    box-shadow: 2px 2px 20px #1c4cbd;
}

hr {
    width: 100%;
}

#page-conta {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 30px;
}

.deletar {
    color: rgba(218, 58, 58, 0.781);
    background-color: #01020ca9;
    border: 1px solid rgba(218, 58, 58, 0.781);
}

.campo {
    display: flex;
    align-items: baseline;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.campo input {
    margin: 5px;
    padding: 20px;
    justify-content: end;
    width: 70%;
}

.campo span {
    color: white;
    font-size: 20px;
    text-align: left;
    width: 30%;  

}

#centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 600px) {
    #page-conta {
        padding: 0 0 30px 0;
    }

    #form-conta {
        width: 80%;
    }

    .campo {
        flex-direction: column;
        align-items: center;
    }
    .campo input {
        width: 100%;
    }
    
    .campo span {
        width: 100%;  
    }

    .box-imovel {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        color: white;
        background: rgb(0 0 0 / 20%);
        box-shadow: 0 0 12px 2px rgba(0 0 0 / 90%);
        border: 1px solid rgba(255, 255, 255, 0.164);
        border-radius: 0;
    }
    
    .box-imovel .info-imovel {
        padding: 20px;
        max-width: 300px;
    }
    
    .box-imovel img {
        width: 100%;
        border-radius: 0;
    }
    
    .box-imovel {
        flex-basis: 100%;
    }   
}