h1 {
    margin: 0 0 10px 0;
}

.venda {
    text-align: center;
    background-color: #181920;
    border-radius: 10px;
    padding-top: 30px;
    box-shadow: 0px 0px 50px 2px #4d576e;
}

.conteudo-dinamico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-venda {
    width: 80%;
    background-color: #181920;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px #4d576e;
    padding: 10px 10px 40px 10px;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 90%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #252a34;
    font-size: 16px;
    border: none;
}

h4 {
    color: white;
}

hr {
    width: 400px;
    margin: 0 0 30px 0;
}

p {
    margin: 8px;
    justify-content: center;
    text-align: center;
}

input {
    margin: 5px 5px 5px 5px;
    width: 29%;
}

#reg {
    margin: 5px 5px 5px 88px;
    width: 200px;
}

.venda #reg:hover {
    opacity: 50%;
}