h1 {
    margin-bottom: 10px;
}


#page-venda{
    height: 100%;
    width: 100%;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.venda {
    text-align: center;
    background-color: #181920;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px #4d576e;
}

.conteudo-dinamico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-venda {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px #1c1e23;
    padding: 10px 30px 30px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #252a34;
    font-size: 16px;
    border: none;
    color: white;
}

h4 {
    color: white;
}

hr {
    width: 400px;
    margin: 0 0 30px 0;
}

.line {
    width: 80%;
    margin: 8px;
    justify-content: center;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

input {
    margin: 5px 5px 5px 5px;
    flex: 30%;
}

#reg {
    width: 200px;
}

.venda #reg:hover {
    opacity: 50%;
}

#reset {
    background-color: #e02525;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

@media  (max-width: 1230px) {
    #page-venda{
        height: 100%;
        width: 100%;
        padding: 60px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    input {
        flex: 100%;
    }
    .form-venda {
        width: 100vw;
        border-radius: 0;
        padding: 0 0 30px 0;   
    }
    h1 {
        font-size: 25px;
    }
    hr {
        width: 80%;
        margin: 0 0 30px 0;
    }
}